
.productListContainer {
margin: 12px;
background-color: rgb(254, 254, 254);
text-align: center;
}

.eachProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2px;
    max-width: 2000px;

}

.productimg{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
