.subNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    height: 70px;
  }

  .cartButton {
    margin-left: 10px;
  }

  .searchButton {
    margin-left: 10px;

  }

  .listProductButton {
    margin-right: 10px;
  }

  .logo{
    width:13%;
    height: auto;
}
