.subNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 70px;
  }

  .cartButton {
    margin-left: 10px;
  }

  .searchButton {
    margin-left: 10px;

  }

  .listProductButton {
    right: 10%;
  }

  .logo{
    margin-right: auto;
    width:145px;
    height: auto;
}
.SearchSymbol{
  width:1.7%;
  height: auto;
}
