
.ProductDetailContainer{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 1000px;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(pink, .5);
    border-radius: 10px;
    padding: 50px;

}


.productimg{
    width: 290px;
    margin-top: 40px;
    margin-left: 90px;
}

.productInfo{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 50%;
}

.productInfoName{
    font-size: 2em;
    color: black;
    margin-top: -5px;
}

.productInfodet{
    color: black;
    margin-top: -5px;
}

.productInfoPrice {
    color: #0077B6;
    margin-top: -5px;
    font-weight: bold;
}

.productInfoDesc{
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: black;
    font-size: 1em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
}

.add {
    background: #0077B6;
    padding: 10px;
    display: inline-block;
    margin: -1px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
  }

  .DeleteBtn{

    position: relative;
    cursor: pointer;
    font-size: 50px;
    line-break:auto;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 12px;
    background-color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

  }
  .DeleteBtn:hover{
    background-color: #cb7171;
    color: white;
}
