
.ProductDetailContainer{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 1000px;
    height: 800px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(pink, .5);
    border-radius: 10px;
    padding: 50px;
}


.productimg{
    width: 290px;
    margin-top: 40px;
}

.productInfo{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
}

.productInfoName{
    font-size: 2em;
    color: black;
    margin-top: -5px;
}

.productInfodet{
    color: black;
    margin-top: -5px;
}

.productInfoPrice {
    color: #0077B6;
    margin-top: -5px;
    font-weight: bold;
}

.productInfoDesc{
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: black;
    font-size: 1em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
}

.add {
    background: #0077B6;
    padding: 10px;
    display: inline-block;
    margin: -1px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
  }

  button:hover {
    background: #03045E;
    transition: all .4s ease-in-out;
    color: white;
  }

  .ModalBtn{

    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid #0077B6;
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
    }

  }

  .DeleteBtn{
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid #0077B6;
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
    }

  }
