.HomePageProductsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
  }

  .HomePageProductsScrollContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: auto;
    margin: auto;
    width: 1300px;
  }

  .HomePageProductsButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }

  .HomePageProductsButton {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
