
.reviewForm{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    position:relative;
 
}

.starRating{
    display:none
}

.reviewInput{
    box-shadow: 0 2px 3px 0 rgba(233, 226, 226, 0.2);
    transition: 0.3s;
    padding: 5px;
    margin: 10px;
    width: 700px;
    border-radius: 3px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reviewsubmitbtn{
    margin-top: 3px;
    position:relative;
    margin-left: 10px;
    top: -5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 26px;
    line-height: 28px;
    font-size: 12px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    :hover {
        color: #241c15;
        background-color: #d9d7cd;
    }
}
