.reviewCard {
  margin: 10px;
  font-size: 15px;
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #e4e5e9;
  border-radius: 4px;
  padding: 15px;
}

.reviewUser{
    position:relative;
    left:20px;
    margin: 10px;

}

.star-rating{
    position:relative;
    left:20px;
}

.deleteReviewBtn{
    margin-top: 7px;
    position:relative;
    right:-70%;
    margin-right: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    :hover {
        color: #241c15;
        background-color: #d9d7cd;
    }

}

.EditReviewBtn{
    margin-top: 7px;
    position:relative;
    right:-70%;
    margin-right: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;

    :hover {
        color: #241c15;
        background-color: #d9d7cd;
    }

}

.reactionIcons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbIcon {
    cursor: pointer;
  }

  .thumbIcon.selected {
    font-weight: bold;
  }

  .reactionCount {
    font-size: 12px;
    margin-left: 5px;
  }

  .ReviewUserIcon{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }
