.editproductform{
    width: 660px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ffffff;
}


.editProductBtn{
    position: relative;
    bottom: 10%;
    width: 70%;
    margin-left: 15%;
    cursor: pointer;
    font-size: 50px;
    line-break:auto;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 12px;
    background-color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editProductBtn:hover {
    background-color: #03045e;
    color: white;
}
