.Navigation {
    background-color:#03045E;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 5px;
}

.navlogin {
    display: flex;
    justify-content: flex-end;
    color: white;
    align-content: flex-start;
    width:4 0px;
    cursor: pointer;
}

.navsignup {
    display: flex;
    justify-content: flex-end;
    color: white;
    width:50px;
    cursor: pointer;
}

.profilebutton{
    margin-right: 10vw;
    height: 35px;
    width: 35px;
    background-image: url(https://i.pinimg.com/564x/99/ff/83/99ff838ed16c22dee73f455cd56596bb.jpg);
    background-size: contain;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.navbaritems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profile-dropdown{
    position:absolute;
    background-color: white;
    list-style: none;
    position: absolute;
    right: 120px;
    top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logoutbtn{
    display: block;
    width: 120%;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    background: #0077B6;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}
.logoutbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#03045E;
    color: rgb(255, 255, 255);
}


.logo{
    width: 7%;
    height: 7%;
}
