.Navigation {
    background-color:#03045E;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 5px;
}

.navlogin {
    display: flex;
    justify-content: flex-end;
    color: white;
    align-content: flex-start;
    width:4 0px;
    cursor: pointer;
}

.navsignup {
    display: flex;
    justify-content: flex-end;
    color: white;
    width:50px;
    cursor: pointer;
}

.profilebutton{
    margin-right: 10vw;
    height: 35px;
    width: 35px;
    background-image: url(https://i.pinimg.com/564x/99/ff/83/99ff838ed16c22dee73f455cd56596bb.jpg);
    background-size: contain;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: red;

}

.navbaritems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profile-dropdown{
    position:absolute;
    background-color: #bcb8ca;
    list-style: none;
    position: absolute;
    right: 120px;
    top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.logoutbtn{
    background-color: rgb(97, 97, 157);
    border:none;
    padding: 10px;
}

.logo{
    width: 7%;
    height: 7%;
}
