.Navigation {
    background-color:#c6cad5;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;

}



.navlogin {
    display: flex;
    justify-content: flex-end;
    color: white;
    align-content: flex-start;
    width:4 0px;
    cursor: pointer;

}

.navsignup {
    display: flex;
    justify-content: flex-end;
    color: white;
    width:50px;
    cursor: pointer;
}

.profilebutton{
    margin-right: 10vw;
    height: 32px;
    width: 32px;
    background-image: url(https://i.pinimg.com/564x/99/ff/83/99ff838ed16c22dee73f455cd56596bb.jpg);
    background-size: contain;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.navbaritems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profile-dropdown{
    background-color: #71655c;
    list-style: none;
    position: absolute;
    right: 120px;
    top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
